---
import Layout from '../layouts/Layout.astro';

import Fv from '../components/layouts/Fv.astro'
import * as Sections from '../components/layouts/Sections/_index';
---

<Layout>
  <main>
    <Fv />
    <Sections.Charm />
    <Sections.Balloon />
    <Sections.Nomad />
    <Sections.Camp />
    <Sections.Voice />
    <Sections.Qa />
    <Sections.Message />
    <Sections.Contact />
  </main>
</Layout>
